@import url('https://fonts.googleapis.com/css?family=Montserrat');

@keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  

body, html, #root {
    height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 1em;   
    background: #f5f5f5;    
    padding-top: 30px;


    div {
        position: relative;

        .combobox { 
            display: inline-block;
           
            .pseudo-input-display {
                position: absolute;
                border-radius: 2px;
                cursor: text !important;
                width: 220px; 
                padding: 7.5px;  
                border: solid .3px #b9cfd6;
                font-size: .6em;
                background: white;

                @media screen and (min-width: 568px) {
                    width: 300px;
                    padding: 12px;
                    font-size: 1.1em;
                    border:solid 0.5px #B9CFD6;
                    border-radius: 4px;
                }

                @media screen and (min-width: 1024px) {
                    width: 450px;
                    padding: 16px;
                    font-size: 1.3em;
                }
            }

            input {
                width: 220px;
                margin: 0 1em 0 0;
                padding: 7.5px;
                border: none;
                border:solid 0.3px #B9CFD6;
                border-radius: 2px;
                background: white;
                font-size: .6em;
                transition:0.3s;

                &:focus {
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                    box-shadow: 0 0 0.1px 0.1px rgb(83, 215, 255);
                    outline: none;
                    transition:0.2s;
                }

                @media screen and (min-width: 568px) {
                    width: 300px;
                    padding: 12px;
                    font-size: 1.1em;
                    border:solid 0.5px #B9CFD6;
                    border-radius: 4px;
                }

                @media screen and (min-width: 1024px) {
                    width: 450px;
                    padding: 15px;
                    font-size: 1.3em;
                    border:solid 1px #B9CFD6;
                    border-radius: 6px;
                }
            }

            .dropdown {
                width: 235px;
                z-index:0;
                border:solid 0.3px #B9CFD6;
                border-radius: 2px; 
                border-top: none;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                background: #fff;
                cursor: pointer;

                @media screen and (min-width: 568px) {
                    width: 324px;
                    font-size: 1.1em;
                    border-radius: 4px;
                    border:solid 0.5px #B9CFD6;
                    border-top-left-radius: 0px;
                    border-top-right-radius: 0px;
                }

                @media screen and (min-width: 1024px) {
                    width: 480px;
                    font-size: 1.5em;
                    border-radius: 6px;
                    border:solid 1px #B9CFD6;
                    border-top-left-radius: 0px;
                    border-top-right-radius: 0px;
                }

                span {
                    display:block;  
                    padding: 8px;
                    font-size: .6em;
                    font-weight: 700;
                    color: #2D2D2D;

                    &:hover {
                        background: #E1E9EC;
                    }
                }
            }
        }

        button {
            height: 26.6px;
            padding: 6px 12px;
            border: 1px solid #f4ce39;
            border-radius: 2px;
            background: #f7d64e;
            font-size: .6em;
            transition: 0.1s;

            &:hover {
                background: #fad954;
                border: 1px solid #ffd738;
                transition: 0.2s;
            }

            @media screen and (min-width: 568px) {
                height: 45px;
                font-size: 1.1em;
                border-radius: 4px;
            }

            @media screen and (min-width: 1024px) {
                height: 55px;
                font-size: 1.5em;
                border-radius: 6px;
            }
        }

    }   
}  

/*******************/
input::-webkit-calendar-picker-indicator {
    display: none;
}

[contenteditable=true]:empty:before{
    content: attr(placeholder);
    display: block; /* For Firefox */
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

//Remove default styling
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.flex-center-vh {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.ajax-loader {
    display: inline-block;
    position: absolute!important;
    right: 16px;
    top: 7px;

    div {
        display: block;
        width: 12px;
        height: 12px;
        border: 1px solid #9b9b9b;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #9b9b9b transparent transparent transparent;

        &:nth-child(1) {
            animation-delay: -0.45s;
        }

    }

    @media screen and (min-width: 568px) {
        right: 28px;
        top: 8.5px;
        div {
            width: 28px;
            height: 28px;
        }
    }

    @media screen and (min-width: 1024px) {
        right: 34px;
        top: 10.5px; 

        div {
            width: 34px;
            height: 34px;
        }
    }

}


